@import '../../App.scss';
.signin-comp {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  background-color: $white;
  border-radius: 10px;
  padding: 20px 20px 5px 20px;
  h1,p,label,span{
	color: $black;
  }
  form{
	width: 280px;
	padding-top: 10px;
  }
  .sign-result{
	  width: 100%;
	  padding: 10px 15px;
	  border-radius: 15px;
	  p{
		  font-size: 14px;
		}
	}
	.errors{
	margin-top: 10px;
	background-color: rgba(255, 42, 42, 0.767);
	p{
		color: $white;
	}
  }
  .success{
	background-color: rgba(0, 255, 0, 0.767);
	p{
		color: $black;
	}
}
  h1{
	text-align: center;
  }
  label{
	display: block;
	width: fit-content;
	font-size: 12px;
	padding-bottom: 3px;
  }
  input{
	border: 1px rgba(128, 128, 128, 0.145) solid;
	padding: 5px;
	width: 100%;
	border-radius: 4px;
	color: black;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.43);

  }
  .pass-tog{
	color: $black;
  }
  
  input::placeholder{
	font-size: 14px;
  }
  input[type="text"]{
	padding: 5px 15px;
  }
  input:focus{
	border: 1px #0004fd73 solid;
	outline: none;
  }
  
  .sign-btns{
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	button{
		width: 100%;
		max-width: 50%;
		min-width: fit-content;
		padding: 6px 0px;
		border-radius: 7px;
		border: 1px solid gray;
		font-size: 15px;
		padding: 7px 10px;
		@include scaleUp;
	  }
	  button:first-child{
		color: $white;
		background-color: $light_2;
	}
	button:last-child{
		color: $black;
		background-color: $white;
	  }
  }
  .user-agreement{
	margin-top: 20px;
	font-size: 0.7rem;
	width: 100%;
	padding-right: 10px;
	color: $muted;
	span{
		text-decoration: underline
	}
  }
  @include fade-in;
}

label{
	color: $muted;
}