// Description: Global styles for the app
@import './Styles/global_mixins.scss';
//* Global colors
$BackColor_Dark : #222;
$BackColor_Light : #fff;
$elemColor_New: #f1f5f9;

$btnColor : #4769e7;

$textColor_Black : #2f2c2c;
$textColor_Light : #fff;
$textColor_Muted : #505050;

$elemColor_Light: #fff;
$elemColor_Dark: #202124;

//* css reset
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// h1,h2,h3,h4,h5,h6,p,li {
//   font-family: 'Roboto', sans-serif;
//   color: $textColor_Light;
// }
@keyframes fade-in {			
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
.App{
	background-color: $BackColor_Dark;
	min-height: 100vh;
}

#sign-in-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.link{
	text-decoration: underline;
	color: blue;
}

.success-label{
	color: green;
}