// Description: Global styles for the app
@import './Styles/global_mixins.scss';
//* Global colors
$dark_1: #0A2647;
$dark_2: #144272;
$light_1: #205295;
$light_2: #2C74B3;
$white: #FFFFFF;
$black: #000000;
$muted:	 #8e8d8d;


//* css reset
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes fade-in {			
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
.App{
	background-color: $dark_1;
	min-height: 100vh;
}

#sign-in-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.link{
	text-decoration: underline;
	color: blue;
}

.success-label{
	color: green;
}